@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@shopify/polaris/build/esm/styles.css';

.Polaris-Button--primary {
  --pc-button-color: var(--p-interactive) !important;
  --pc-button-text: var(--p-text-on-primary) !important;
  --pc-button-color-hover: var(--p-interactive-hovered) !important;
  --pc-button-color-active: var(--p-interactive-pressed) !important;
  --pc-button-color-depressed: var(--p-interactive-pressed-on-dark) !important;
  background: var(--pc-button-color) !important;
}